{
  "extends": [
    "kentcdodds",
    "kentcdodds/react",
    "kentcdodds/jsx-a11y",
    "kentcdodds/jest"
  ],
  "rules": {
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    "react-native/no-color-literals": 2,
    "react-native/no-raw-text": 2,
    "react-native/no-single-element-style-arrays": 2,
    "@typescript-eslint/unbound-method": 0
  },
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react-native"],
  "env": {
    "react-native/react-native": true
  }
}
